*.DS_Store
*fp-info-cache
*Archive.zip
*-cache.lib
*.mp3
*.wav
*.step
*.avi
*.zip
*-bak
*.FCStd1
*.eps
*.dxf
*.svg
*.mov
pdfs/*
media/*
*.lock
*__pycache__*
*-rescue.*
*.blend
*.blend1
*.dae
*.slvs
*target*
*.kicad_wks
sym-lib-table
.ipynb_checkpoints
*.swp
